<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
    <title>Document</title>
</head>
<body>
    {{!-- name kommt von der apps js wir angezeigt inner HTML --}}

    {{>header}}
    <h1>{{name}}</h1>
 
    
</body>
<br style="margin: 50px;">
 <footer>
        {{>footer}}
        <script>document.write(new Date().getFullYear())</script>
    </footer>
</html>